<ActionBar title="Person List">
    <ActionItem text="Create" (tap)="create()" ios.position="right"></ActionItem>
</ActionBar>
<StackLayout>
    <TextField #asd hint="asd" text="asd"></TextField>
    
    <Button text="Encription" (tap)="encryption()"></Button>
    
    

    <GridLayout>
    
    
    <ListView [items]="personList">
        <template let-item="item">
            <Label [text]="item.firstname + ' ' + item.lastname"></Label>
        </template>
    </ListView>
</GridLayout>
</StackLayout>

